body {
  overflow-x: hidden;
}

.logo-img {
  max-width: 180px;
  max-height: 180px;
}

.navbarTwo {
  position: absolute;
  background: #ec5242;
  height: 100vh;
  width: 100%;
  opacity: 95%;
  text-align: justify;
  top: 0;
  left: 0;
}

.navbarTwo-details {
  position: absolute;
  margin-top: 20%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.navbarTwo-link {
  font-weight: 400px;
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
  text-align: justify;
  left: 0;
  text-transform: uppercase;
}

.navbarTwo-link:hover {
  color: #a5ec42;
}

.navbarTwo-list {
  margin-bottom: 25px;
  list-style: none;
  left: 0;
}

.btnClose {
  position: absolute;
  right: 1em;
  top: 0;
  font-size: 24px;
  background: none;
  border: none;
  color: #fff;
  padding: 20px 20px;
  transition: all 0.3s linear;
}

.btnClose:hover {
  color: hsl(360, 71%, 66%);
  transform: rotate(360deg);
}

.navbarTwo-head {
  margin-top: 100px;
}

.hambugerBtn,
.fa-bars {
  border: none;
  background: none;
  font-size: 40px;
  cursor: pointer;
  animation: bounce 2s ease-in-out infinite;
  margin-top: 20px;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.hambugerMenu {
  padding: 5px 30px;
  display: block;
}

.header {
  background-image: url(asset/images/mobile-main-background.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.heading-sec {
  padding: 30px 15px;
  text-align: center;
}

.greetingText {
  font-family: 'lato', sans-serif;
  color: #ec5242;
  font-size: 20px;
  text-align: center;
}

.course_contact {
  font-family: 'lato', sans-serif;
  text-align: center;
  font-size: 15px;
  color: #272a31;
}

.contact-email {
  font-family: 'lato', sans-serif;
  text-align: center;
  font-size: 15px;
  color: #272a31;
  text-decoration: underline;
  margin-top: -5px;
}

.contact-email:hover {
  color: blue;
}

.course_description {
  font-family: cocogoose, sans-serif;
  font-size: 32px;
  background-image: url(asset/images/headingText-background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: -8px;
  text-align: center;
}

.course_details {
  padding: 0 10px;
  font-family: 'lato', sans-serif;
  text-align: center;
  color: #272a31;
}

.course_time {
  font-family: cocogoose, sans-serif;
  color: #272a31;
}

.course_venue {
  font-family: 'lato', sans-serif;
  font-weight: 600px;
  font-size: 18px;
  color: #474545;
  margin-top: -10px;
}

/* mean program */

.program_text_line {
  height: 2px;
  width: 70px;
  color: black;
  background-color: #ec5242;
  margin: 0 auto;
}

.program_text {
  color: #272a31;
  font-family: 'lato', sans-serif;
}

.logo-designed-des {
  color: #272a31;
  font-family: cocogoose, sans-serif;
}

.program-logo-img {
  max-width: 200px;
  max-height: 200px;
}

.program-line {
  width: 100%;
  margin-top: 2px;
  opacity: 0.23;
}

.program_heading {
  text-align: center;
  align-items: center;
}

.list_image {
  margin-top: 11px;
  font-size: 50px;
  padding: 0 15px;
  color: #fff;
}

.program-list {
  display: grid;
  grid-template-columns: 20% 30% 45%;
  background-color: #d3d3d326;
  margin-bottom: 20px;
  margin-top: 20px;
  max-width: 650px;
  height: 125px;
}

.list-title {
  left: 0;
  color: #ec5242;
  font-family: 'lato', sans-serif;
  font-size: 17px;
  padding: 20px 10px;
}

.list-details {
  padding-left: 25px;
  text-align: justify;
  font-size: 14px;
  color: #fff;
  font-family: 'lato', sans-serif;
}

.joinSubmit {
  background-color: #ec5242;
  padding: 30px 30px;
  text-align: center;
  width: 50%;
  margin: 0 auto;
}

.program-sec-wrapper {
  padding: 30px 30px;
  margin: 0 auto;
  align-items: center;
}

.joinsubmit-text-link {
  text-decoration: none;
  color: #fff;
  font-weight: 300px;
  text-transform: capitalize;
  font-family: 'lato', sans-serif;
  font-size: 18px;
}

/* feature speaker */
.past-event-card {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.past-event-wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.video-content {
  height: 225px;
  background: #ec5242;
  margin-top: -56%;
  mix-blend-mode: hard-light;
  margin-left: -4px;
}

.video-cont-container {
  text-align: center;
  margin-top: 80px;
  color: #fff;
  font-family: 'lato', sans-serif;
  font-size: 25px;
  font-weight: bold;
}

.pastEvenDetail {
  font-size: 18px;
}

.featureSpeaker_text_line {
  height: 5px;
  width: 70px;
  color: black;
  background-color: #ec5242;
  margin: 0 auto;
}

.featureSpeaker_heading {
  text-align: center;
  align-items: center;
}

/* partner section */

.partner-sec-wrapper {
  padding: 20px 25px;
}

.partner_text {
  font-family: 'lato', sans-serif;
  color: #fff;
  font-size: 30px;
}

.partner_text_line {
  height: 5px;
  width: 70px;
  background-color: #ec5242;
  margin: 0 auto;
}

.partner_heading {
  text-align: center;
  align-items: center;
}

.partner-sec {
  background-color: #272a31;
  margin-top: 20px;
}

.partner-logo_img {
  max-height: 80px;
  max-width: 80px;
}

.partner-logo {
  display: grid;
  grid-template-columns: 33.3%  33.3%   33.3%;
  gap: 10px;
  align-items: center;
  margin-left: 50px;
}

.partner-logo_two {
  display: grid;
  grid-template-columns: 40% 40%;
  margin-left: 100px;
  margin-top: 20px;
  align-items: center;
}

/* footer */

.footer_logo {
  max-height: 120px;
  max-width: 120px;
}

.footer-sec {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 0;
}

.logo {
  display: none;
}

.uppperNavBar {
  display: none;
}

.hide {
  visibility: hidden;
}

.show {
  visibility: visible;
}

@media (min-width: 778px) {
  .footer_logo {
    display: block;
  }

  .upper-navbar-list {
    display: inline-flex;
    list-style: none;
  }

  .upper-navbar-link {
    text-decoration: none;
    margin-left: 10px;
    color: #fff;
  }

  .uppperNavBar {
    background-color: #272a31;
    border: 1px solid #272a31;
    height: 40px;
    width: 100vw;
    margin-top: -10px;
    margin-left: -10px;
    display: block;
  }

  .upper-nav-head {
    text-align: right;
    margin-right: 80px;
  }

  .logo-navbar-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #fff;
  }

  .navbarTwo {
    padding: 0;
    visibility: visible;
    background: none;
    margin-top: -40px;
  }

  .btnClose {
    display: none;
  }

  .navbarTwo-list {
    display: inline-flex;
    list-style: none;
    margin-right: 4px;
  }

  .navbarTwo-link {
    text-decoration: none;
    color: #474545;
    font-family: 'lato', sans-serif;
    font-size: 15px;
  }

  .navbarTwo-link:hover {
    color: #ec5242;
  }

  .upper-navbar-link:hover {
    color: #ec5242;
  }

  .navbarTwo-head {
    margin-right: 80px;
    justify-content: end;
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .navbarTwo-list:last-child {
    border: 5px solid #ec5242;
    padding: 10px 10px;
    margin-top: -12px;
  }

  .logo-img {
    max-width: 80px;
    max-height: 80px;
  }

  .logo {
    display: flex;
    margin-left: 80px;
  }

  .hambugerMenu {
    display: none;
  }

  .header {
    background-image: url(asset/images/mainBackgroundImg.png);
    background-position: center;
    background-size: cover;
    width: 100vw;
  }

  /* heading text section */

  .heading-sec {
    padding: 80px 0;
  }

  .greetingText {
    font-size: 30px;
  }

  .course_description {
    font-size: 40px;
    text-transform: uppercase;
  }

  .course_details {
    border: 2px solid #fff;
    background-color: #fff;
    max-width: 700px;
    text-align: center;
    margin: 0 auto;
    padding: 15px 15px;
  }

  .course_contact {
    margin-top: 30px;
  }

  /* past event */

  .past-event-wrapper {
    display: flex;
    flex-direction: row;
    max-width: 300px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }

  .past-event-video {
    max-width: 375px;
  }

  /* partner */
  .partner-logo {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    align-items: center;
    margin-left: 50px;
  }

  .partner-sec {
    display: none;
  }

  /* footer  */

  .copy-right {
    padding: 40px 60px;
    color: #fff;
    margin-top: 30px;
  }

  .footer_logo-head {
    padding: 5px 80px;
    margin-top: 30px;
  }

  .footer-sec {
    background-color: #272a31;
    height: 200px;
    margin-top: 60px;
    width: 100vw;
  }
}
