body {
  overflow-x: hidden;
}

.hambugerBtn,
.fa-bars {
  border: none;
  background: none;
  font-size: 40px;
  cursor: pointer;
  animation: bounce 2s ease-in-out infinite;
  margin-top: 20px;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.hambugerMenu {
  padding: 5px 30px;
}

.header {
  background-image: url(asset/images/mobile-main-background.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.heading-sec {
  padding: 30px 15px;
}

.greetingText {
  font-family: 'lato', sans-serif;
  color: #ec5242;
  font-size: 18px;
}

.course_description {
  font-family: cocogoose, sans-serif;
  font-size: 32px;
  background-image: url(asset/images/headingText-background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: -8px;
}

.course_details {
  padding: 0 10px;
  text-align: justify;
  font-family: 'lato', sans-serif;
}

.course_time {
  font-family: cocogoose, sans-serif;
  color: #272a31;
}

.course_venue {
  font-family: 'lato', sans-serif;
  font-weight: 600px;
  font-size: 18px;
  color: #474545;
  margin-top: -10px;
}

.navbarTwo {
  position: absolute;
  background: #ec5242;
  height: 100vh;
  width: 100%;
  opacity: 95%;
  text-align: justify;
  top: 0;
  left: 0;
}

.navbarTwo-details {
  position: absolute;
  margin-top: 20%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.navbarTwo-link {
  font-weight: 400px;
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
  text-align: justify;
  left: 0;
  text-transform: uppercase;
}

.navbarTwo-link:hover {
  color: #ec5242;
}

.navbarTwo-list {
  margin-bottom: 25px;
  list-style: none;
  left: 0;
}

.btnClose {
  position: absolute;
  right: 1em;
  top: 0;
  font-size: 24px;
  background: none;
  border: none;
  color: #fff;
  padding: 20px 20px;
  transition: all 0.3s linear;
}

.btnClose:hover {
  color: hsl(360, 71%, 66%);
  transform: rotate(360deg);
}

.navbarTwo-head {
  margin-top: 100px;
}

/* mean program */

.program_text_line {
  height: 5px;
  width: 70px;
  color: black;
  background-color: #ec5242;
  margin: 0 auto;
}

.program-section {
  margin-top: 2px;
  background-image: url(asset/images/programSectImage.jpg);
}

.program_text {
  color: #fff;
  font-family: cocogoose, sans-serif;
}

.program_heading {
  text-align: center;
  align-items: center;
}

.list_image {
  margin-top: 11px;
  font-size: 40px;
  padding: 0 15px;
  color: #fff;
}

.program-list {
  display: grid;
  grid-template-columns: 20% 30% 45%;
  background-color: #d3d3d326;
  margin-bottom: 20px;
  margin-top: 20px;
  max-width: 650px;
  height: 125px;
}

.program-list:hover {
  border: 2px solid white;
  cursor: pointer;
}

.list-title {
  left: 0;
  color: #ec5242;
  font-family: 'lato', sans-serif;
  font-size: 20px;
  padding: 20px 10px;
}

.list-details {
  padding-left: 25px;
  text-align: justify;
  font-size: 12px;
  color: #fff;
  font-family: 'lato', sans-serif;
}

.joinSubmit {
  background-color: #ec5242;
  padding: 30px 30px;
  text-align: center;
  width: 50%;
  margin: 0 auto;
}

.program-sec-wrapper {
  padding: 30px 30px;
  margin: 0 auto;
  align-items: center;
}

.joinsubmit-text-link {
  text-decoration: none;
  color: #fff;
  font-weight: 300px;
  text-transform: capitalize;
  font-family: 'lato', sans-serif;
  font-size: 18px;
}

/* feature speaker */

.card-speaker_name {
  font-family: 'lato', sans-serif;
  color: #272a31;
}

.card_speaker-job {
  font-family: 'lato', sans-serif;
  color: #ec5242;
  font-style: italic;
}

.speaker-job-desc {
  font-family: 'lato', sans-serif;
  color: #272a31;
}

.featureSpeaker-section {
  margin-top: 30px;
}

.featureSpeaker_text {
  font-family: 'lato', sans-serif;
  color: #272a31;
}

.featureSpeaker_text_line {
  height: 2px;
  width: 100px;
  color: black;
  background-color: #ec5242;
  margin: 0 auto;
}

.featureSpeaker_heading {
  text-align: center;
  align-items: center;
}

hr {
  width: 20px;
  text-align: justify;
  margin-left: 1px;
  color: #272a31;
}

.speakerCard {
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-top: 30px;
}

.speakerCard-sec {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

/* partner section */

.partner-sec-wrapper {
  padding: 20px 25px;
}

.partner_text {
  font-family: 'lato', sans-serif;
  color: #fff;
  font-size: 30px;
}

.partner_text_line {
  height: 5px;
  width: 70px;
  background-color: #ec5242;
  margin: 0 auto;
}

.partner_heading {
  text-align: center;
  align-items: center;
}

.partner-sec {
  background-color: #272a31;
  margin-top: 20px;
}

.partner-logo_img {
  max-height: 80px;
  max-width: 80px;
}

.partner-logo {
  display: grid;
  grid-template-columns: 30%  30%   30%;
  align-items: center;
  margin-left: 50px;
}

.partner-logo_two {
  display: grid;
  grid-template-columns: 40% 40%;
  margin-left: 100px;
  margin-top: 20px;
  align-items: center;
}

/* footer */

.footer_logo {
  max-height: 120px;
  max-width: 120px;
}

.footer-sec {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 40px;
}

.footer-logo {
  padding: 0 50px;
}

.logo {
  display: none;
}

.uppperNavBar {
  display: none;
}

/* .navbarTwo {
  display: none;
} */

.seeprogram {
  display: none;
}

.hide {
  visibility: hidden;
}

.show {
  visibility: visible;
}

/* extra feature */
.deadline-format {
  background: #272a31;
  color: #ec5242;
  margin-right: 1rem;
  width: 3rem;
  height: 3.5rem;
  display: grid;
  place-items: center;
  text-align: center;
}

.deadline {
  display: flex;
  margin-left: 40px;
}

.deadline h4:not(.expired) {
  font-size: 1rem;
  margin-bottom: 0.25rem;
  letter-spacing: var(--spacing);
  margin-top: -8px;
}

.deadline-format span {
  display: block;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.85rem;
}

/* Desktop Version  */

@media (min-width: 778px) {
  .hambugerMenu {
    display: none;
  }

  .header {
    background-image: url(asset/images/mainBackgroundImg.png);
    background-position: center;
    width: 100vw;
  }

  .logo {
    display: flex;
    margin-left: 80px;
  }

  .logo:hover {
    cursor: pointer;
  }

  .logo-img {
    max-width: 80px;
    max-height: 80px;
  }

  .upper-navbar-list {
    display: inline-flex;
    list-style: none;
  }

  .upper-navbar-link {
    text-decoration: none;
    margin-left: 10px;
    color: #fff;
  }

  .uppperNavBar {
    background-color: #272a31;
    border: 1px solid #272a31;
    height: 40px;
    width: 100vw;
    margin-top: -10px;
    margin-left: -10px;
    display: block;
  }

  .upper-nav-head {
    text-align: right;
    margin-right: 80px;
  }

  .logo-navbar-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #fff;
  }

  .navbarTwo {
    padding: 0;
    visibility: visible;
    background: none;
    margin-top: -40px;
  }

  .navbarTwo-list {
    display: inline-flex;
    list-style: none;
    margin-right: 4px;
  }

  .navbarTwo-link {
    text-decoration: none;
    color: #474545;
    font-family: 'lato', sans-serif;
    font-size: 15px;
  }

  .navbarTwo-link:hover {
    color: #ec5242;
  }

  .upper-navbar-link:hover {
    color: #ec5242;
    cursor: pointer;
  }

  .navbarTwo-head {
    margin-right: 80px;
    justify-content: end;
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .navbarTwo-list:last-child {
    border: 5px solid #ec5242;
    padding: 10px 10px;
    margin-top: -12px;
  }

  /* heading text section */

  .heading-sec {
    padding: 50px 80px;
  }

  .greetingText {
    font-family: 'lato', sans-serif;
    color: #ec5242;
    font-size: 25px;
  }

  .course_description {
    font-family: cocogoose, sans-serif;
    font-size: 45px;
    background-image: url(asset/images/headingText-background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: -8px;
    text-transform: uppercase;
    margin-left: 10px;
  }

  .course_details {
    text-align: justify;
    font-family: 'lato', sans-serif;
    border: 4px solid #fff;
    padding: 10px 10px;
    max-width: 400px;
    margin-left: 25px;
  }

  .course_time {
    font-family: cocogoose, sans-serif;
    color: #272a31;
    margin-left: 15px;
  }

  .course_venue {
    font-family: 'lato', sans-serif;
    font-weight: 600px;
    font-size: 18px;
    color: #474545;
    margin-top: -10px;
    margin-left: 15px;
  }

  /* program section */
  .program-list-wrapper {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    gap: 10px;
    padding: 20px 50px 20px 20px;
    grid-column-end: auto;
  }

  .program-list {
    display: flex;
    flex-direction: column;
    height: 280px;
    padding: 0 10px;
  }

  .list-details {
    text-align: center;
    font-size: 13px;
    color: #fff;
    font-family: 'lato', sans-serif;
  }

  .list-title {
    color: #ec5242;
    font-family: 'lato', sans-serif;
    font-size: 17px;
    text-align: center;
    padding: 1px 1px;
  }

  .joinsubmit-text-link {
    text-decoration: none;
    color: #fff;
    font-weight: 300px;
    text-transform: capitalize;
    font-family: 'lato', sans-serif;
    font-size: 18px;
  }

  .list_image {
    font-size: 48px;
    color: #fff;
    text-align: center;
  }

  .joinSubmit {
    display: none;
  }

  .seeProgram-text-link {
    text-align: center;
    margin-left: 45%;
    font-family: 'lato', sans-serif;
    font-size: 18px;
    color: #ec5242;
  }

  .seeprogram {
    display: block;
  }

  .program-section {
    padding: 40px 5px;
  }

  /* feature speaker */
  .speakerCard-sec {
    gap: 15px;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 30px 75px;
  }

  .partner-logo {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
  }

  /* footer  */
  .copy-right {
    padding: 0 70px;
  }

  .btnClose {
    display: none;
  }

  .footer-sec {
    width: 100vw;
  }
}
